$color-primery: #f1cdb3;
$color-primery-light: #fddcc4;
$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-3xl: #292929;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-light-xl: #ffffff;
$color-light-s: #fafafa;
$color-light-l: #f6f6f6;

$desktop-width: 1280px;
$tablet-width: 768px;
$mobile-big-width: 625px;
$mobile-width: 450px;

$burger-width: 767px;

// $mobile-small-width:
