.footer {
  background: url(../assets/svg/noise_transparent@2x.svg), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
}

.footer__content {
  @include content-flex(1200px, $align: normal);
  margin: auto;
  padding-top: 40px;
  flex-wrap: wrap;

  @include media-tablet {
    max-width: 708px;
    padding-top: 30px;
    justify-content: space-around;
    row-gap: 65px;
  }

  @include media-big-mobile {
    row-gap: 40px;
    // justify-content: center;
  }
}

.footer__connection {
  flex-basis: 278px;
  height: 234px;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  &:nth-child(2) {
    flex-basis: 302px;
  }

  @include media-tablet {
    margin-top: 0;
  }
  @include media-big-mobile {
    flex-basis: 300px;
    height: auto;
    align-items: normal;
    row-gap: 40px;
  }

  &:nth-child(1) {
    @include media-big-mobile {
      align-items: center;
    }
  }
}

.footer__heading {
  color: $color-light-xl;
  letter-spacing: 1.9px;
  margin: 0;

  @include media-big-mobile {
    max-width: 270px;
    margin: auto;
    text-align: center;
    letter-spacing: 1.5px;
  }
}

.connection__links {
  @include content-flex(auto, $justify: normal);
}

.connection__img {
  height: 32px;
  padding-right: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}

.connection__tel {
  width: 40px;
  background-image: url(../assets/icons/icon-phone.svg);
}

.connection__email {
  width: 40px;
  background-image: url(../assets/icons/icon-email.svg);
}

.connection__map {
  width: 22px;
  background-image: url(../assets/icons/pin.svg);
}

.connection__text {
  max-width: 260px;
  color: $color-primery;
  margin: 0;
  a {
    letter-spacing: 1.2px;
  }

  @include media-big-mobile {
    a {
      @include font(2rem, 23px);
    }
  }
}

.footer__img {
  width: 300px;
  height: 310px;
  background-image: url(../assets/img/footer-puppy.png);
  background-repeat: no-repeat;
  background-size: cover;

  @include media-tablet {
    margin: 0 auto 0 auto;
  }
  @include media-big-mobile {
    width: 260px;
    height: 269px;
  }
}
