.footer {
  // background: url(../assets/svg/noise_transparent@2x.svg), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
  background: url(../assets/svg/start-screen-gradient-background.svg);
  background-size: cover;
}

.footer__content {
  @include content-flex(1200px, $align: normal);
  margin: auto;
  padding: 40px 0 0 0;
}

.footer__connection {
  flex-basis: 278px;
  height: 234px;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  &:nth-child(2) {
    flex-basis: 302px;
  }
}

.footer__heading {
  color: $color-light-xl;
  letter-spacing: 1.9px;
  margin: 0;
}

.connection__links {
  @include content-flex(auto, $justify: normal);

  &:hover .connection__text {
    color: $color-primery-light;
  }
}

.connection__img {
  height: 32px;
  padding-right: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}

.connection__tel {
  width: 40px;
  background-image: url(../assets/icons/icon-phone.svg);
}

.connection__email {
  width: 40px;
  background-image: url(../assets/icons/icon-email.svg);
}

.connection__map {
  width: 22px;
  background-image: url(../assets/icons/pin.svg);
}

.connection__text {
  max-width: 260px;
  color: $color-primery;
  margin: 0;
  @extend %transition;
  a {
    letter-spacing: 1.2px;
  }
}

.footer__img {
  width: 300px;
  height: 310px;
  background-image: url(../assets/img/footer-puppy.png);
  background-repeat: no-repeat;
  background-size: cover;
}
