.card {
  max-width: 270px;
  min-height: 435px;
  border-radius: 9px;
  text-align: center;
  background-color: $color-light-s;
  cursor: pointer;
  @extend %transition;

  &:hover {
    background-color: #fff;
    box-shadow: 4px 4px 30px 10px $color-light-s;
  }
  &:hover .btn {
    background-color: $color-primery-light;
    border: 2px solid $color-primery-light;
  }
  &:active .btn {
    background-color: $color-primery;
    border: 2px solid $color-primery;
  }

  img {
    border-radius: 9px 9px 0 0;
  }
}
