.about__content {
  @include content-flex(300px+120px+430px);
  margin: 0 auto;
  padding: 80px 0 100px 0;

  @include media-tablet {
    max-width: 437px;
    flex-direction: column;
  }

  @include media-big-mobile {
    max-width: 300px;
    // max-width: 270px;
    padding: 42px 0 42px 0;
  }
}

.about__img {
  width: 300px;
  height: 408px;
  background-image: url(../assets/img/about-pets.png);
  background-size: cover;

  @include media-tablet {
    order: 2;
  }

  @include media-big-mobile {
    width: 260px;
    height: 353.6px;
  }
}

.about__text {
  min-height: 380px;
  @include content-flex(430px, $direction: column, $align: start);

  @include media-tablet {
    order: 1;
    margin-bottom: 80px;
  }
  @include media-big-mobile {
    max-width: 270px;
    margin: 0 auto 42px auto;
  }
}

.about__text h3 {
  color: $color-dark-l;
  max-width: 350px;
  margin: 0;

  @include media-big-mobile {
    text-align: center;
    margin-bottom: 25px;
  }
}

.about__text p {
  margin: 0;
  color: $color-dark-xl;

  @include media-big-mobile {
    text-align: justify;
    margin-bottom: 22px;
  }
}

.about__text p:last-child {
  @include media-big-mobile {
    margin-bottom: 0px;
  }
}

.about__heading {
  letter-spacing: 2px;
  color: $color-dark-l;

  @include media-big-mobile {
    letter-spacing: 1.8px;
  }
}
