.addition {
  background-color: $color-light-l;
}

.addition__content {
  @include content-flex(915px);
  margin: auto;
  padding: 80px 0 100px 0;

  @include media-tablet {
    max-width: 505px;
    flex-direction: column;
  }
  @include media-mobile {
    max-width: 300px;
    padding: 42px 0 42px 0;
  }
}

.addition__img {
  max-width: 505px;
  height: auto;

  @include media-tablet {
    order: 2;
  }
  @include media-mobile {
    max-width: 260px;
  }

  img {
    width: 100%;
    margin-bottom: -5px;
  }
}

.addition__text {
  width: 380px;

  @include media-tablet {
    order: 1;
    margin: 0 auto 60px auto;
  }
  @include media-mobile {
    width: 280px;
    margin-bottom: 42px;
  }
}

.addition__heading {
  max-width: 300px;
  color: $color-dark-l;
  white-space: pre-line;
  margin: 0 0 20px 0;
  letter-spacing: 2px;

  @include media-mobile {
    margin: 0 auto 20px auto;
    text-align: center;
    letter-spacing: 1.5px;
    margin-bottom: 25px;
  }
}

.addition__p1 {
  @extend %font-georgia;
  @include font(1.5rem, 16.5px);
  color: $color-dark-l;
  margin: 0 0 20px 0;
  letter-spacing: 0.9px;

  @include media-mobile {
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 22px;
  }
}

.addition__p2 {
  @extend %font-arial;
  @include font(1.2rem, 18px, 400, italic);
  color: $color-dark-m;
  margin: 0;

  @include media-mobile {
    text-align: justify;
  }
}

.addition__links {
  @include content-flex(349px, $justify: space-around);
  height: 43px;
  background-color: $color-primery;
  border-radius: 9px;
  margin: 0 0 20px 0;
  @extend %transition;
  &:hover {
    background-color: $color-primery-light;
  }
  &:active {
    background-color: $color-primery;
  }
}

.addition__number {
  margin: 0;
  padding: 0 15px 0 0;
  color: $color-dark-l;
  letter-spacing: 1.1px;
  cursor: pointer;

  @include media-mobile {
    letter-spacing: 0.8px;
  }
}

.addition__card {
  background-image: url(../assets/icons/credit-card.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 23px;
  padding: 0 15px;
}
