.help__content {
  width: 1200px;
  padding: 80px 0 100px 0;
}

.help__heading {
  width: 308px;
  margin: 0 auto 60px auto;
  color: $color-dark-l;
  text-align: center;
}

.help__items {
  @include content-flex(1026px, $align: normal, $justify: space-around);
  width: 1026px;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 120px;
  row-gap: 55px;
  margin: auto;
}

.help__text {
  color: $color-dark-l;
  margin: 0;
  text-align: center;
}

.help__img {
  margin: 0 auto 30px auto;
  img {
    display: block;
    margin: auto;
  }
}
