.help__content {
  max-width: 1200px;
  padding: 80px 0 100px 0;
  margin: auto;

  @include media-tablet {
    max-width: 630px;
  }
  @include media-mobile {
    max-width: 290px;
    padding: 42px 0 42px 0;
  }
}

.help__heading {
  width: 308px;
  margin: 0 auto 60px auto;
  color: $color-dark-l;
  text-align: center;
  letter-spacing: 1.8px;

  @include media-mobile {
    max-width: 250px;
    margin-bottom: 42px;
    letter-spacing: 1.5px;
  }
}

.help__items {
  @include content-flex(1026px, $align: normal, $justify: center);
  flex-wrap: wrap;
  column-gap: 120px;
  row-gap: 55px;
  margin: auto;

  @include media-tablet {
    max-width: 630px;
    column-gap: 60px;
  }
  @include media-mobile {
    gap: 30px;
    justify-content: left;
  }
}

.help__item {
  @include media-tablet {
    flex-basis: 170px;
  }
  @include media-mobile {
    flex-basis: 130px;
  }
}

.help__text {
  color: $color-dark-l;
  margin: 0;
  text-align: center;
  letter-spacing: 1.1px;
}

.help__img {
  margin: 0 auto 30px auto;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media-mobile {
    margin-bottom: 20px;
    height: 50px;
    img {
      height: 50px;
    }
  }
}
