.navigation__list {
  text-decoration: none;
  display: flex;
}

.navigation__item {
  position: relative;
  margin-right: 35px;
  color: $color-dark-s;
  @extend %transition;

  &:first-child {
    color: $color-light-s;
    cursor: default;
  }

  &:last-child {
    margin-right: 0;
  }

  &::before {
    content: '';
    @extend %transition;
    position: absolute;
    left: 0%;
    bottom: 0%;
    height: 3px;
    width: 0%;
    background-color: $color-primery;
  }

  &:hover {
    color: $color-light-s;
    // &:before {
    //   width: 100%;
    // }
  }

  &:active {
    &:before {
      width: 100%;
    }
  }
  &:first-child:active {
    &:before {
      width: 0%;
    }
  }
}

@keyframes border {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
