.navigation {
  @extend %transition;

  @include media-burger {
    display: flex;
    justify-content: flex-end;
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.315);
    left: 100%;
    top: 0%;
    overflow: hidden;
    opacity: 0;
    z-index: 1;
  }

  &_active {
    @include media-burger {
      width: 100%;
      left: 0%;
      opacity: 1;
    }
  }
}

.navigation__list {
  text-decoration: none;
  display: flex;
  @extend %transition;

  @include media-burger {
    margin: 0;
    width: 320px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    background-color: $color-dark-3xl;
    opacity: 0;
  }

  &_active {
    @include media-burger {
      opacity: 1;
    }
  }
}

.navigation__item {
  position: relative;
  margin-right: 35px;
  color: $color-dark-s;
  @extend %transition;

  &:first-child {
    color: $color-light-s;
    cursor: default;
    &::before {
      width: 100%;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &::before {
    content: '';
    transition: 0.2s;
    position: absolute;
    left: 0%;
    bottom: 0%;
    height: 3px;
    width: 0%;
    background-color: $color-primery;
  }

  &:hover {
    color: $color-light-s;
  }

  &:active {
    &:before {
      width: 100%;
    }
  }

  a {
    @include media-burger {
      @include font(3.2rem, 51.2px);
    }
  }

  @include media-burger {
    margin: 0;
    max-height: 55px;
    overflow: hidden;
  }
}
