.not-only__content {
  @include content-flex(1200px, $align: start);
  margin: auto;
  padding-top: 60px;

  @include media-tablet {
    max-width: 569px + 70px;
    flex-direction: column;
    // display: block;
  }
}

.not-only__text {
  @include content-flex(460px, $direction: column, $align: normal);
  min-height: 322px;
  padding-top: 163px;

  @include media-tablet {
    padding: 0;
    margin: 0 auto 100px auto;
  }
}

.not-only__heading {
  max-width: 310px;
  color: $color-light-xl;
  margin: 0;
}

.not-only__description {
  color: $color-dark-s;
  margin: 0;
}

.not-only__button {
  background-color: $color-primery;
  width: 207px;
  height: 52px;

  @include media-tablet {
    align-self: center;
  }
}

.not-only__img {
  width: 698px;
  min-height: 728px;
  background-image: url(../assets/img/start-screen-puppy.png);
  background-size: cover;

  @include media-tablet {
    width: 569px;
    min-height: 593px;
    align-self: flex-end;
    // margin-left: 70px;
  }
}
