.not-only__content {
  @include content-flex(1200px, $align: start);
  margin: 0 40px;
  align-items: center;

  @include media-tablet {
    flex-direction: column;
    padding-top: 30px;
    margin: 0 30px;
  }
  @include media-big-mobile {
    margin: 0 10px;
  }
}

.not-only__text {
  @include content-flex(460px, $direction: column, $align: normal);
  min-height: 322px;

  @include media-tablet {
    padding: 0;
    margin: 0 124px 100px 124px;
  }
  @include media-big-mobile {
    max-width: 100%;
    min-height: 296px;
    margin: 0 0 105px 0;
  }
}

.not-only__heading {
  max-width: 310px;
  color: $color-light-xl;
  margin: 0;

  @include media-tablet {
    margin: 0;
  }

  @include media-big-mobile {
    margin: 0 auto 0 auto;
    text-align: center;
    letter-spacing: 1.3px;
  }

  @include media-mobile {
    max-width: 200px;
  }
}

.not-only__description {
  color: $color-dark-s;
  margin: 0;

  @include media-big-mobile {
    text-align: center;
  }
}

.not-only__button {
  background-color: $color-primery;
  width: 207px;
  height: 52px;

  @include media-tablet {
    align-self: center;
  }
}

.not-only__img {
  max-width: 698px;
  height: auto;
  padding-top: 60px;

  @include media-tablet {
    padding: 0;
    max-width: 569px;
    align-self: flex-end;
  }
  @include media-big-mobile {
    max-width: 260px;
  }

  img {
    width: 100%;
    height: auto;
    margin-bottom: -7px;
  }
}
