.not-only__content {
  @include content-flex(1200px, $align: start);
  margin: auto;
  padding-top: 60px;

  @include media-tablet {
    max-width: 708px;
    flex-direction: column;
    padding-top: 30px;
  }
  @include media-big-mobile {
    max-width: 300px;
  }
}

.not-only__text {
  @include content-flex(460px, $direction: column, $align: normal);
  min-height: 322px;
  padding-top: 163px;

  @include media-tablet {
    padding: 0;
    margin: 0 auto 100px auto;
  }
  @include media-big-mobile {
    min-height: 296px;
    margin-bottom: 105px;
  }
}

.not-only__heading {
  max-width: 310px;
  color: $color-light-xl;
  margin: 0;

  @include media-tablet {
    margin: 0 auto;
  }

  @include media-big-mobile {
    max-width: 200px;
    text-align: center;
    letter-spacing: 1.3px;
  }
}

.not-only__description {
  color: $color-dark-s;
  margin: 0;

  @include media-big-mobile {
    text-align: center;
  }
}

.not-only__button {
  background-color: $color-primery;
  width: 207px;
  height: 52px;

  @include media-tablet {
    align-self: center;
  }
}

.not-only__img {
  width: 698px;
  height: 728px;
  background-image: url(../assets/img/start-screen-puppy.png);
  background-size: cover;

  @include media-tablet {
    width: 569px;
    height: 593px;
    align-self: flex-end;
  }
  @include media-big-mobile {
    width: 260px;
    height: 271.7px;
  }
}
