.our-friends {
  background-color: $color-light-l;
}

.our-friends__content {
  padding: 80px 0 100px 0;
  max-width: 1200px;
  margin: 0 40px;

  @include media-tablet {
    margin: 0 30px;
  }
  @include media-mobile {
    padding: 42px 0 42px 0;
    margin: 0 10px;
  }
}

.our-friends__heading {
  width: fit-content;
  margin: 0 auto 60px auto;
  text-align: center;
  color: $color-dark-l;
  letter-spacing: 2px;
  // white-space: pre-line;

  @include media-mobile {
    margin-bottom: 42px;
    letter-spacing: 1.5px;
  }
}

.our-friends__carousel {
  margin-bottom: 60px;

  @include media-mobile {
    margin-bottom: 42px;
  }
}

.carousel {
  @include content-flex();
  overflow: hidden;

  @include media-mobile {
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 20px;
  }
}

.carousel__cards {
  @extend %transition;
  min-height: 435px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
  margin: 0 53px 0 53px;

  width: 990px;
  position: relative;

  &_toLeft {
    animation: toLeft 0.3s ease-in-out;
  }

  &_fromRight {
    animation: fromRight 0.3s ease-in-out;
  }

  &_toRight {
    animation: toRight 0.3s ease-in-out;
  }

  &_fromLeft {
    animation: fromLeft 0.3s ease-in-out;
  }

  @include media-tablet {
    margin: 0 12px 0 12px;
    width: 270px + 40px + 270px;
  }
  @include media-mobile {
    order: 1;
    justify-content: center;
  }
}

@keyframes toLeft {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}
@keyframes fromRight {
  0% {
    right: -100%;
    opacity: 0;
  }
  100% {
    right: 0%;
    opacity: 1;
  }
}
@keyframes toRight {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
    opacity: 0;
  }
}
@keyframes fromLeft {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 0%;
    opacity: 1;
  }
}

@media (max-width: 829px) and (min-width: 769px) {
  .carousel__card {
    margin: auto;
  }

  .carousel__cards {
    min-height: 900px;
  }
}

@media (max-width: 726px) and (min-width: $mobile-width) {
  .carousel__card {
    margin: auto;
  }

  .carousel__cards {
    min-height: 900px;
  }
}

@media (max-width: 1095px) {
  .carousel__card:nth-child(3) {
    display: none;
  }
}

.carousel__card {
  &:nth-child(2) {
    @include media-mobile {
      display: none;
    }
  }
}

.our-friends__img {
  width: 270px;
  height: 270px;
  padding-bottom: 30px;
}

.our-friends__name {
  color: $color-dark-l;
  margin: 0;
  padding-bottom: 30px;
  letter-spacing: 1.2px;

  @include media-mobile {
    @include font(2rem, 22.7px);
  }
}

.card__button {
  box-sizing: border-box;
  width: 187px;
  height: 52px;
  border: 2px solid $color-primery;
  padding: 0;
  background-color: transparent;
  color: $color-dark-3xl;
  @include font(1.7rem, 22.1px);
  letter-spacing: 1.2px;
}

.our-friends__button {
  width: 261px;
  height: 51px;
  margin: auto;
  background-color: $color-primery;
}

.arrow-prev {
  @include btn();
  min-width: 48px;
  height: 48px;
  background-image: url(../assets/icons/Arrow.svg);

  @include media-mobile {
    order: 2;
  }
}

.arrow-next {
  @include btn();
  min-width: 48px;
  height: 48px;
  background-image: url(../assets/icons/Arrow.svg);
  transform: rotate(180deg);

  @include media-mobile {
    order: 3;
  }
}

// .arrow-prev {
//   margin: 0 53px 0 40px;

//   @include media-tablet {
//     margin: 0 12px 0 30px;
//   }
//   @include media-mobile {
//     margin: 0;
//   }
// }

// .arrow-next {
//   margin: 0 40px 0 53px;
//   @include media-tablet {
//     margin: 0 30px 0 12px;
//   }
//   @include media-mobile {
//     margin: 0;
//   }
// }
