.navigation__item {
  color: $color-dark-l;

  &:first-child {
    color: $color-dark-l;
    cursor: pointer;
    &::before {
      width: 0%;
    }
    @include media-big-mobile {
      color: $color-dark-s;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: $color-dark-3xl;
    @include media-big-mobile {
      color: $color-light-s;
    }
  }

  &:nth-child(2) {
    color: $color-dark-3xl;
    cursor: default;
    &::before {
      width: 100%;
    }
    @include media-big-mobile {
      color: $color-light-s;
    }
  }

  &:first-child:active {
    &:before {
      width: 100%;
    }
  }

  @include media-big-mobile {
    color: $color-dark-s;
  }
}
