.navigation__item {
  color: $color-dark-l;
  &:first-child {
    color: $color-dark-l;
    cursor: pointer;
    &::before {
      width: 0%;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: $color-dark-3xl;
  }

  &:nth-child(2) {
    color: $color-dark-3xl;
    cursor: default;
    &::before {
      width: 100%;
    }
  }

  // &:nth-child(2):active {
  //   &:before {
  //     width: 0%;
  //   }
  // }

  &:first-child:active {
    &:before {
      width: 100%;
    }
  }
}
