.our-friends__heading {
  margin: 0 auto 60px auto;

  @include media-tablet {
    margin-bottom: 30px;
  }
  @include media-big-mobile {
    margin-bottom: 42px;
  }
}

.our-friends__content {
  padding-bottom: 100px;

  @include media-tablet {
    padding-bottom: 75px;
  }
  @include media-big-mobile {
    padding-bottom: 42px;
  }
}

.our-friends__list {
  @include content-flex(1200px, $align: normal);
  flex-wrap: wrap;
  row-gap: 30px;
  margin-bottom: 60px;

  @include media-tablet {
    max-width: 580px;
    margin: 0 auto 40px auto;
  }
  @include media-big-mobile {
    justify-content: center;
    margin-bottom: 42px;
  }
}

.our-friends__card {
  @include media-tablet {
    &:nth-child(7),
    &:nth-child(8) {
      display: none;
    }
  }
  @include media-big-mobile {
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      display: none;
    }
  }
}

.our-friends__buttons {
  margin: auto;
  @include content-flex(340px);
  @include media-big-mobile {
    max-width: 300px;
  }
}

.buttons__item {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  h4 {
    margin: 0;
    @include media-big-mobile {
      @include font(2rem, 23px);
    }
  }

  &:nth-child(3) {
    background-color: $color-primery;
    &:hover {
      background-color: $color-primery-light;
    }
    &:active {
      background-color: $color-primery;
    }
  }

  &:nth-child(4),
  &:nth-child(5) {
    transform: rotate(180deg);
  }
}
